body{
  font-family: sans-serif;
}

.content{
  height: 100vh;
  width: 100vw;
  background-color: brown; 
  display: flex;
  justify-content: center;
  align-items: center;  
}

.box{
  width: 500px;
  height: 280px;
  border-radius: 5px;
  background-color: white;
}

.quote-box{
  text-align: center;
  width: 80%;
  margin: auto;
  margin-top: 60px;
}

.change{
  border: none;
  border-radius: 5px;
  padding: 15px 25px;
  background-color: brown;
  cursor: pointer;
  color: white;
}

.phrase{
  height: 100px;
}

.author{
  font-family: 'Times New Roman', Times, serif;
  display: flex;
  justify-content: flex-end;
}